QWidget,
QDialog {
  background-color: rgb(230, 230, 230);
  color: #212529;
  font-size: 14px;
  line-height: 1.5;
  margin: 0;
  font-family: "Roboto", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

#header {
  font-size: 20px;
  font-weight: bold;
  margin-top: 0;
  margin-bottom: 0.8rem;
}

#header2,
#header2_underline {
  font-size: 18px;
  font-weight: bold;
  margin-top: 0;
  margin-bottom: 0.8rem;
}

#header2_underline {
  text-decoration: underline;
}

QLabel {
  margin-top: 0;
  margin-bottom: 1rem;
  padding: 0.45em 1px;
  height: fit-content;
  text-align: justify;
}

QMenuBar,
QMenu,
QAction {
  border: 1px solid #212529;
  padding: 1px 2px;
  margin: 0;
}

QDialog {
  padding: 4px 2px;
}

QPushButton {
  padding: 4px 8px;
  width: fit-content;
}

QMenuBar::item:selected,
QMenu::item:selected,
QAction::item:selected {
  border: 1px solid #b4e4ff;
  background-color: #95bdff;
  padding: 1.26px 1.2px;
  margin: 0;
}
